

<div class="swiper-slide card" id="product-{{id}}">
    <img src="{{image}}" alt="{{title}}" class="card-image">
    <h2 class="card-title">{{title}}</h2>
    <p class="card-description">{{description}}</p>
    <p class="card-price">Цена: {{price}} ₽</p>
    <button class="card-button">Купить</button>
    <a href="/comments#product-{{id}}" class="card-button">Прочитать отзывы</a>
</div>